@model DevCamp.Web.ViewModels.Listings.ListingDetailsViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

<div>
    <nav id="navbar" class="sticky-top bg-white border-bottom">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#OverView1">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading1">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading2">About The Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading3">Compare Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading4">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading5">Reviews</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-xl-7 col-sm-7">
            <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>

                <h4 id="OverView1">@Model.Title</h4>
                <div class="row">
                    <div class="col">
                        <img class="rounded-circle" style="height:30px;width:30px;" src="https://zelensviat.com/wp-content/uploads/2019/03/410527-1200x900.jpg"
                             data-holder-rendered="true">
                    </div>
                    <div class="col">
                        @Model.User.Name
                    </div>
                </div>
                <hr />

                <div>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.economic.bg/web/files/articles/37099/narrow_image/thumb_1200x630_m11.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://dizzyriders.bg/uploads/thumbs/avtomobili/06_2020/111-ghibli-620x427.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://clubs1.bg/wp-content/uploads/2020/08/01_Maserati_Trofeo_collection.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <h4 id="scrollspyHeading1">About this Gig</h4>
                <p>
                    11,000+ Projects completed, 7000+ Happy buyers around the world,
                    5000+ Positive Reviews, 100+ Industries.
                    I am professional and reputed logo design service provider, offering 100% original and conceptual logo design solutions for businesses of varying sizes.
                    The logos will be the true representative of your business and match its nature and standard.
                    I have been designing for various clients worldwide for the past 8 years. I have worked with several internationally acclaimed, prestigious and well known companies and organization.
                    I have the ability to look from the client’s eye and understand their needs and provide my clients with designs that help achieve their company/brand full potential.
                    Feature in Business Insider as a fiverr seller shorturl.at/uEPU3
                    Live Portfolio: http://flic.kr/s/aHsmGFyjY6
                    Unlimited Revisions.
                    Color & Background Variations.
                    100% Original initial concepts.
                    Delivery on Time.
                    100% Editable and Resizable Vector.
                    Message for Consultation.
                    ////
                    @Model.ProjectDetails
                </p>
                <h4 id="scrollspyHeading2">About the Seller</h4>
                <div class="row">
                    <div class="col-3">
                        <img class="rounded-circle" style="height:150px;width:150px;" src="https://zelensviat.com/wp-content/uploads/2019/03/410527-1200x900.jpg"
                             data-holder-rendered="true">
                    </div>
                    <div class="col-4">
                        <a href="#">@Model.User.Name</a>
                        <p>Programmer</p>
                        <div class="col-sm-6 text-center">
                            <button type="button" class="btn btn-light btn-lg">Light</button>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row">
                        <div class="col">
                            <p>From</p>
                            <p>@Model.User.Country.Name</p>
                        </div>
                        <div class="col">
                            <p>Member since</p>
                            <p>@Model.User.CreatedOn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Avg. response time</p>
                            <p>1 hour</p>
                        </div>
                        <div class="col">
                            <p>Last delivery</p>
                            <p>About 1 day</p>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <p>
                            My name is Arlie and I have 8+ years of experience in graphic design and photography and 5+ years in digital marketing.
                            With a degree in communications from Azusa Pacific University and graphic design degree from F.I.D.M.

                            I take pleasure in simple things like drinking coffee, listening to music, touring museums, being in nature or cooking a great meal.
                            In addition to the daily grind, I'm very active in church functions and an advocate for healthy living.
                            ///// @Model.User.Information
                        </p>
                    </div>
                </div>
                <h4 id="scrollspyHeading3">Compare Packages</h4>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Packages</th>
                                <th scope="col">Basic</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>da</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 id="scrollspyHeading4">Fifth heading</h4>
                <div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Accordion Item #1
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Accordion Item #2
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 id="scrollspyHeading5">Fifth heading</h4>
                <p>
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                </p>
            </div>
        </div>
            <div class="col-xl-5 col-sm-5">
                <div class="container text-center sticky-top" id="navbar-example3">
                    <img class="rounded-circle" style="height:150px;width:150px;" src="https://zelensviat.com/wp-content/uploads/2019/03/410527-1200x900.jpg"
                         data-holder-rendered="true">
                </div>
            </div>
    </div>
</div>
