@model DevCamp.Web.ViewModels.Users.UserViewModel

<div class="container row">
    <div class="col-sm-4 mt-2">
        <div class="container border">
            <div class="text-center mt-2">
                <img class="rounded-circle" style="height:150px;width:150px;" src="@Model.ProfilePicture"
                     data-holder-rendered="true">
                <div>
                    <h3>@Model.Name</h3>
                    <h6>@Model.Profession</h6>
                </div>
            </div>
            <hr />

            @if (Model.Country != null)
            {
                <div class="row">
                    <i class="col-1 fa fa-map-marker text-center" style="padding-top:6px;" aria-hidden="true"></i>
                    <p class="col text-start">From</p>
                    <p class="col text-end">@Model.Country.Name</p>
                </div>
            }

            <div class="row">
                <i class="col-1 fa fa-user-circle-o text-center" style="padding-top:6px;" aria-hidden="true"></i>
                <p class="col text-start">Member since</p>
                <p class="col text-end">@Model.CreatedOn</p>
            </div>
        </div>
        <div class="container border mt-4">
            @if (Model.Information != null)
            {
                <div class="row mt-4">
                    <h5 class="col-6">Description</h5>
                </div>
                <div class="row mt-2">
                    <p>@Model.Information</p>
                </div>
                <hr />
            }
            @if (Model.SpokenLanguages.Any())
            {
                <div class="row mt-3">
                    <h5 class="col-6">Languages</h5>
                </div>
                <ul class="container">
                    @foreach (var item in Model.SpokenLanguages)
                    {
                        <li class="row">
                            <div class="col-3">@item.Language.Name</div>
                            <div class="col-8 text-muted text-start">
                                @item.Level.Name
                            </div>
                        </li>
                    }
                </ul>
                <hr />
            }
            @if (Model.Skills.Any())
            {
                <div class="row mt-3">
                    <h5 class="col-6">Skills</h5>
                </div>
                <div class="row">
                    @foreach (var item in Model.Skills)
                    {
                        <div class="col-5 offset-1 border rounded-pill mt-1">
                            <div class="text-center">@item.Skill.TechnologyName</div>
                        </div>
                    }
                </div>
                <hr />
            }
            @if (Model.Educations.Any())
            {
                <div class="row mt-3">
                    <h5 class="col-6">Education</h5>
                </div>
                <div class="row">
                    @foreach (var item in Model.Educations)
                    {
                        <div class="container">
                            <div>
                                @item.Title - @item.Major
                            </div>
                            <div class="text-muted">@item.UniversityName, @item.UniversityLocation, Graduated @item.GraduationYear</div>
                        </div>
                    }
                </div>
                <hr />
            }
            @if (Model.Certifications.Any())
            {
                <div class="row mt-3">
                    <h5 class="col-6">Certification</h5>
                </div>
                <div class="row">
                    @foreach (var item in Model.Certifications)
                    {
                        <div class="container">
                            <div>
                                @item.Certificate
                            </div>
                            <div class="text-muted">@item.CertifiedFrom @item.Year</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="col-sm-8">
        @if (Model.Listings.Any())
        {
            <div class="row">
                <h1>User's Gigs</h1>
            </div>
            <div class="row">
                @foreach (var listing in Model.Listings)
                {
                    <div class="col-md-4 mb-3">
                        <partial name="_ListingPartial" model="listing" />
                    </div>
                }
            </div>
        }
    </div>
</div>
