@model DevCamp.Web.ViewModels.Users.UserViewModel
@using DevCamp.Web.ViewModels.Listings

<div class="container row">
    <div class="col-sm-4 mt-2">
        <div class="container border">
            <div class="text-center mt-2">
                <img class="rounded-circle" style="height:150px;width:150px;" src="https://zelensviat.com/wp-content/uploads/2019/03/410527-1200x900.jpg"
                     data-holder-rendered="true">
                <div>
                    <h3>@Model.Name</h3>
                    <h6>Darvar</h6>
                </div>
            </div>
            <div class="container overflow-hidden mt-3">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-success btn-lg">Contact Me</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-light btn-lg">Get a Quote</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <i class="col-1 fa fa-map-marker text-center" style="padding-top:6px;" aria-hidden="true"></i>
                <p class="col text-start">From</p>
                <p class="col text-end">@Model.Country.Name</p>
            </div>
            <div class="row">
                <i class="col-1 fa fa-user-circle-o text-center" style="padding-top:6px;" aria-hidden="true"></i>
                <p class="col text-start">Member since</p>
                <p class="col text-end">@Model.CreatedOn</p>
            </div>
        </div>
        <div class="container border mt-4">
            <div class="row mt-4">
                <h5 class="col-6">Description</h5>
                <a class="col-6 text-end" asp-action="EditDescription" asp-controller="Users">Edit</a>
            </div>
            <div class="row mt-2">
                <p>@Model.Information</p>
            </div>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Languages</h5>
                <a class="col-6 text-end" asp-action="AddLanguage" asp-controller="Languages">Add New</a>
            </div>
            <ul class="container">
                @foreach (var item in Model.SpokenLanguages)
                {
                    <li class="row">
                        <div class="col">@item.Language</div>
                        <div class="col text-muted">@item.Level</div>
                        <a asp-action="EditLanguage" asp-controller="Language">Edit</a>
                    </li>
                }
                <li class="row">
                    <p class="col">English - </p>
                    <p class="col text-muted">Basic</p>
                </li>
            </ul>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Skills</h5>
                <a class="col-6 text-end" asp-action="AddSkill" asp-controller="Skills">Add New</a>
            </div>
            <div class="row">
                @foreach (var item in Model.Skills)
                {
                    <div class="container">
                        <div>@item.Skill.TechnologyName</div>
                        <a asp-action="EditSkill" asp-controller="Skills">Edit</a>
                    </div>
                }
                <div class="container">
                    <p>Node.Js</p>
                </div>
                <p>React.js</p>
            </div>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Education</h5>
                <a class="col-6 text-end" asp-action="AddEducation" asp-controller="Educations">Add New</a>
            </div>
            <div class="row">
                @foreach (var item in Model.Skills)
                {
                    <div class="container">
                        <div>@item.Skill.TechnologyName</div>
                        <a asp-action="EditEducation" asp-controller="Educations">Edit</a>
                    </div>
                }
            </div>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Certification</h5>
                <a class="col-6 text-end" asp-action="AddCertification" asp-controller="Certifications">Add New</a>
            </div>
            <div class="row">
                @foreach (var item in Model.Skills)
                {
                    <div class="container">
                        <div>@item.Skill.TechnologyName</div>
                        <a asp-action="EditCertification" asp-controller="Certifications">Edit</a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        @if (!Model.Listings.Any())
        {
            <div class="container row">
                <div class="col-8">It seems that you don't have any active Gigs. Get selling!</div>
                <button class="col-4 bg-success">Create a New Gig</button>
            </div>
        }
        else
        {
            <div class="row">
                <h1>User's Gigs</h1>
            </div>
            <div class="row">
                @foreach (var listing in Model.Listings)
                {
                    var customModel = new ListingViewModel
                    {
                        Id = listing.Id,
                        Title = listing.Title,
                        StartingPrice = listing.StartingPrice,
                        Username = Model.Name,
                        UserProfilePic = Model.ProfilePic,
                    };
                        <partial name="_ListingPartial" model="customModel" />
                }
            </div>
        }
    </div>
</div>
