@model DevCamp.Web.ViewModels.Users.UserViewModel

<div class="container row">
    <div class="col-sm-4 mt-2">
        <div class="container border">
            <div class="text-center mt-2">
                <img class="rounded-circle" style="height:150px;width:150px;" src="https://zelensviat.com/wp-content/uploads/2019/03/410527-1200x900.jpg"
                     data-holder-rendered="true">
                <div>
                    <div id="EditName">
                        @if (Model.Name != null)
                        {
                            <h3>@Model.Name<input class="offset-4 col-2 text-end" type="button" onclick="editName()" value="Edit" /></h3>
                        }
                        else
                        {
                            <input class="offset-4 col-2 text-end" type="button" onclick="editName()" value="Edit" />
                        }
                    </div>
                    <div id="EditProfession">
                        @if (Model.Profession != null)
                        {
                            <h6>@Model.Profession <input class="offset-4 col-2 text-end" type="button" onclick="editProfession()" value="Edit" /></h6>
                        }
                        else
                        {
                            <input class="offset-4 col-2 text-end" type="button" onclick="editProfession()" value="Edit" />
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                @if (Model.Country == null)
                {
                    <p class="col text-start">From</p>
                    <div id="AddLocation">
                        <input class="offset-4 col-2 text-end" type="button" onclick="addLocation()" value="Add" />
                    </div>
                }
                else
                {
                    <i class="col-1 fa fa-map-marker text-center" style="padding-top:6px;" aria-hidden="true"></i>
                    <p class="col text-start">From</p>
                    <p class="col text-end">@Model.Country.Name</p>
                }
            </div>
            <div class="row">
                <i class="col-1 fa fa-user-circle-o text-center" style="padding-top:6px;" aria-hidden="true"></i>
                <p class="col text-start">Member since</p>
                <p class="col text-end">@Model.CreatedOn</p>
            </div>
        </div>
        <div class="container border mt-4">
            <div class="row mt-4">
                <h5 class="col-6">Description</h5>
                <input class="offset-4 col-2 text-end" type="button" onclick="editDescription()" value="Edit" />
            </div>
            <div class="row mt-2" id="PartialDescription">
                @if (Model.Information == null)
                {
                    <p class="text-muted">Tell us more about yourself.Buyers are also interested in learning about you as a person.</p>
                }
                else
                {
                    <p>@Model.Information</p>
                }
            </div>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Languages</h5>
                <input class="offset-4 col-2 text-end" type="button" onclick="addLanguage()" value="Add New" />
            </div>
            <div id="AddLanguage"></div>
            <ul class="container">
                @if (Model.SpokenLanguages.Any())
                {
                    @foreach (var item in Model.SpokenLanguages)
                    {
                        <li class="row">
                            <div class="col-3">@item.Language.Name</div>
                            <div class="col-8 text-muted text-start">
                                @item.Level.Name
                                <input class="offset-4 col-2 text-end" type="button" onclick="editLanguage(@item.Id)" value="edit" />
                                <a class="text-dark border-0" asp-action="DeleteLanguage" asp-controller="Languages" asp-route-Id="@item.Id"><i class="fa fa-trash"></i></a>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="row text-muted">Add languages that you speak so buyers can find you easily.</li>
                }
            </ul>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Skills</h5>
                <input class="offset-4 col-2 text-end" type="button" onclick="addSkill()" value="Add New" />
            </div>
            <div class="row">
                <div id="AddSkill"></div>
                @if (Model.Skills.Any())
                {
                    @foreach (var item in Model.Skills)
                    {
                        <div class="col-5 offset-1 border rounded-pill mt-1">
                            <div class="text-center">@item.Skill.TechnologyName</div>
                            <a class="text-dark border-0" asp-action="DeleteSkill" asp-controller="Skills" asp-route-Id="@item.Id"><i class="fa fa-trash"></i></a>
                        </div>
                    }
                }
                else
                {
                    <div class="text-muted">Add your skills.</div>
                }
            </div>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Education</h5>
                <input class="offset-4 col-2 text-end" type="button" onclick="addEducation()" value="Add New" />
            </div>
            <div class="row">
                <div id="AddEducation"></div>
                @if (Model.Educations.Any())
                {
                    @foreach (var item in Model.Educations)
                    {
                        <div class="container">
                            <div>
                                @item.Title - @item.Major
                                <input class="offset-4 col-2 text-end" type="button" onclick="editEducation(@item.Id)" value="Add New" />
                                <a class="text-dark border-0" asp-action="DeleteEducation" asp-controller="Educations" asp-route-Id="@item.Id"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="text-muted">@item.UniversityName, @item.UniversityLocation, Graduated @item.GraduationYear</div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-muted">Add your Education.</div>
                }
            </div>
            <hr />
            <div class="row mt-3">
                <h5 class="col-6">Certification</h5>
                <input class="offset-4 col-2 text-end" type="button" onclick="addCertification()" value="Add New" />
            </div>
            <div class="row">
                <div id="AddCertification"></div>
                @if (Model.Certifications.Any())
                {
                    @foreach (var item in Model.Certifications)
                    {
                        <div class="container">
                            <div>
                                @item.Certificate
                                <input class="offset-4 col-2 text-end" type="button" onclick="editCertification(@item.Id)" value="Add New" />
                                <a class="text-dark border-0" asp-action="DeleteCertification" asp-controller="Certifications" asp-route-Id="@item.Id"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="text-muted">@item.CertifiedFrom @item.Year</div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-muted">Add your Cerficates.</div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        @if (!Model.Listings.Any())
        {
            <div class="container row border mt-3">
                <div class="col-8 mt-2 mb-2">It seems that you don't have any active Gigs. Get selling!</div>
                <a class="col-4 btn btn-success mt-2 mb-2" asp-controller="Listings" asp-action="Create">Create a new Gig!</a>
            </div>
        }
        else
        {
            <div class="row">
                <h1>User's Gigs <a class="btn btn-success" asp-controller="Listings" asp-action="Create"><i class="fa fa-plus"></i></a></h1>
            </div>
            <div class="row">
                @foreach (var listing in Model.Listings)
                {
                    listing.Username = Model.Name;
                    <div class="col-md-4 mb-3">
                        <partial name="_ListingPartial" model="listing" />
                    </div>
                }
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/Custom/EditDescription.js" asp-append-version="true"></script>
    <script src="~/js/Custom/AddLanguage.js" asp-append-version="true"></script>
    <script src="~/js/Custom/EditLanguage.js" asp-append-version="true"></script>
    <script src="~/js/Custom/EditLocation.js" asp-append-version="true"></script>
    <script src="~/js/Custom/EditProfession.js" asp-append-version="true"></script>
    <script src="~/js/Custom/EditName.js" asp-append-version="true"></script>
    <script src="~/js/Custom/AddSkill.js" asp-append-version="true"></script>
    <script src="~/js/Custom/AddCertification.js" asp-append-version="true"></script>
    <script src="~/js/Custom/EditCertification.js" asp-append-version="true"></script>
    <script src="~/js/Custom/EditEducation.js" asp-append-version="true"></script>
    <script src="~/js/Custom/AddEducation.js" asp-append-version="true"></script>
}
