@using DevCamp.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/Custom.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body class="mb-0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h5>@GlobalConstants.SystemName</h5></a>
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu" style="z-index:5000;" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-action="ShowSector" asp-controller="Home" asp-route-sectorId="3">Design</a></li>
                        <li><a class="dropdown-item" asp-action="ShowSector" asp-controller="Home" asp-route-sectorId="2">Web Applications</a></li>
                        <li><a class="dropdown-item" asp-action="ShowSector" asp-controller="Home" asp-route-sectorId="1">Game Development</a></li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4 mt-2">
                            Sectors
                        </h6>
                        <p>
                            <a class="text-reset text-decoration-none" asp-action="ShowSector" asp-controller="Home" asp-route-sectorId="1">Game Development</a>
                        </p>
                        <p>
                            <a class="text-reset text-decoration-none" asp-action="ShowSector" asp-controller="Home" asp-route-sectorId="3">Design</a>
                        </p>
                        <p>
                            <a class="text-reset text-decoration-none" asp-action="ShowSector" asp-controller="Home" asp-route-sectorId="2">Web Applications</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4 mt-2">
                            Contact
                        </h6>
                        <p><i class="fa fa-home me-3"></i> Stara Zagora, str.Sredna Gora 1, BG</p>
                        <p>
                            <i class="fa fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <hr/>
                    <div class="container mb-3">
                        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
